.titleRefreshed {
    align-items: center;
    display: inline-flex;
    gap: var(--space-8);
    justify-content: center;
    max-width: 50vw;
}

div:has(> .titleRefreshedLeft) {
    justify-content: flex-start;
    margin-left: 0.5em;
}

.titleRefreshIcon {
    height: 16px;
    width: 16px;
    color: var(--icon-default);
    border-radius: var(--radius-xs);
    background-clip: padding-box;
    background-size: 100% 100%;
    position: relative;

}

.titleRefreshIcon.titleRefreshIconImg {
    height: 20px;
    width: 20px;
}