.titleRefreshed {
  align-items: center;
  display: inline-flex;
  gap: var(--space-8);
  justify-content: center;
  max-width: 50vw;
}
div:has(> .titleRefreshedLeft) {
  justify-content: flex-start;
  margin-left: 0.5em;
}

.titleRefreshIcon {
  border-radius: var(--radius-xs);
  background-clip: padding-box;
  background-color: none;
  background-position: 50%;
  background-size: 100% 100%;
  position: relative;
}

.titleRefreshIconImg {
  height: 20px;
  width: 20px;
}
